@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F25CAF 20%, #f12d99 70%);
}

main {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(32, 32, 32);
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #048ABF
}

h2{
    color: #04B2D9;
}


p {
    text-align: justify;

}